/**
		Current operation

*/

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.noPadding{
	padding: 0px;
}

.noMargin{
	margin : 0px;
}

.inlineuh{
	display: inline-block;
}

.paddingBotMini{
	padding-bottom: 15px;
}

.forceMid{
	line-height: 50px;
}

.miniMarginRight{
	margin-right: 15px;
}

.miniMarginLeft{
	margin-left: 15px;
}

.allWidth{
	min-width: 100%;
}

.marginTop{
	margin-top: 40px;
}

.marginBot{
	margin-bottom: 40px;
}

.center{
	text-align: center;
}

/**
		Custom title
*/

.titreNav{
	padding-left: 15px;
	padding-right: 15px;
	color: #9d9d9d;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

.commentNav{
	padding-left: 15px;
	padding-right: 15px;
	color: #9d9d9d;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

.bigNavTitle{
	color : #9d9d9d;
	line-height: 50px;
	font-size: 25px;
}

/**
		Color
*/
.white_text{
	color: white;
}

.black_bg{
	background-color: black;
}

.white_bg{
	background-color: white;
}

/**
		Other operation with text
*/

.gras{
	font-weight: bold;
}

.moreTransparent{
	opacity: 0.5;
}

.notRound{
	border-radius: 0px !important;
}

/**
		Page container
*/

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	background-color: #f5f5f5;
    display : table;
    width: 100%;

}

footer{
    display : table-row;
    padding : 0;
	margin : 0;
	height: 5%;
}

#wrap{
	display : table-row;
	padding : 0;
	margin : 0;
	height: auto;
}

/**
		General
*/
.navbar-inverse .navbar-nav>li>a:hover{
	color:black;
}

.navbar-inverse{
	border-color: #ddd;
}

/**
		Others
*/

.other-day, .day, .calendar .month a, .calendar .year a{
	height: 100px;
	font-size: 15px;
}

.calendar .day a {
	height: 100px;
}


.calendar .calendar-header a{
	vertical-align: middle;

  	line-height:50px;
	height: 50px;
	font-size: 15px;
}

.agendaChouette{
	background-color: hotpink;
}

/**
	Liste Etoile

*/

.listeEtoile ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.listeEtoile ul li {
	display:inline-block;
	width: 16px;
	text-align: left;
	list-style-type: none;
}
.listeEtoile ul li img {
	border: 0;
	margin: 0;
	padding: 0;
}

.notationDiv{
	text-align: center;
}