.floatLeft{
	float: left;
}

.smallerTitle{
	font-size: 20px;
}

.titreNav{
	padding-left: 15px;
	padding-right: 15px;
	color: #9d9d9d;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

.center{
	text-align: center;
}

.commentNav{
	padding-left: 15px;
	padding-right: 15px;
	color: #9d9d9d;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

.bigNavTitle{
	color : white;
	line-height: 50px;
	font-size: 25px;
}

.paddingBotMini{
	padding-bottom: 15px;
}

.black{
	background-color: black;
}

.gras{
	font-weight: bold;
}

.inverseColor{
	color: black;
}

.inverseColor:hover{
	color: white;
}

.inlineuh{
	display: inline-block;
}

.moreTransparent{
	opacity: 0.5;
}

.breadcrumb{
	background-color: transparent;
}

/*.breadcrumb li:before{
	border-left: 3px solid green;
	content: "toto";
}*/

.breadcrumb > li + li:before{
    content: "-> ";
    padding: 0 5px;
    color: #9d9d9d;
}

.breadcrumb>.active {
    color : red;
}

.breadcrumb li a {
	color: #9d9d9d;
}

.thumbnail{
	background-color: transparent;
	border: none;
}

.notRound{
	border-radius: 0px !important;
}

.red{
	color : red;
}

.floatRight{
	float: right;
}

.noMargin{
	margin : 0px;
}

.whiteFont{
	color:white;
}

.forceMid{
	line-height: 50px;
}

.noPadding{
	padding: 0px;
}

.selectWidth {
	width: 200px;
}

.miniMarginRight{
	margin-right: 15px;
}

.miniMarginLeft{
	margin-left: 15px;
}

.titleFooter{
	color: red;
	font-size: 13px;
}

.center{
	text-align: center;
}

body{
	background-color: #f5f5f5;
    display : table;
    width: 100%;

}

footer{
    display : table-row;
    padding : 0;
	margin : 0;
	height: 5%;
}

#wrap{
	display : table-row;
	padding : 0;
	margin : 0;
	height: auto;
}

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}